@import url( './index.css');

.about .imgHolder {
    width: fit-content;
    margin: 0 auto;
}

.about .imgHolder img {
    width: 90%;
}

.team__card {
    height: 240px;
    position: relative;
    width: 260px;
}

.team__card img {
    position: absolute;
    bottom: 0;
}

.team__card.dark {
    background-color: #023E8A;
}

.team__card.light {
    background-color: var(--defaultBlue);
}

.openings .position {
    padding: 0.6rem;
    background-color: #F2FAFC;
    box-shadow: 0 3px 11px 0 #C4C4C44D;
    border-radius: 30px;
    color: #023E8AC9;
    transition: all 0.5s ease;
    cursor: pointer;
}
.position:hover {
    background-color: #023E8AC9;
    color: #F2FAFC;
}

.roadmap_slide {
    background-image: url('/images/tokenBg.png');
}

.roadmap_slide .contentHolder {
    width: 90%;
}

.date {
    border-right: 3px solid #023E8A;
    padding: 0 2rem;
}

.roadmap_slide .carousel-indicators {
    bottom: -35px;
    justify-content: space-between;
    margin: 0 !important;
}

.roadmap_slide .carousel-indicators li {
    width: 15%;
    background-color: lightgray;
}

.roadmap_slide .sectionHeight--mid {
    min-height: 35vh;
}
@media (max-width: 768px) {
    .about .imgHolder img {
        width: 100%;
        margin: 0 auto;
    }

    .about .sectionHeight--mid {
        min-height: 45vh;
    }

    .team__card {
        margin: 0 auto;
        width: 100%;
    }

    .openings .imgHolder {
        padding: 2rem;
        width: 80%;
    }

    .date {
        text-align: left !important;
        border: none;
        padding: 0 1rem;
        border-left: 3px solid #023E8A;
    }

    .roadmap {
        padding: 2rem 1rem;
    }

    .roadmap .contentHolder {
        width: 100%;
        margin-top: 0.5rem;
    }

    .roadmap_slide .carousel-indicators {
        bottom: 0;
    }

}
