@import url('./index.css');

.cta{
    position: relative;
}

.cta .bgImg{
    height: 20vh;
}

.cta .inner_card{
    background-color: #F2FAFC;
    padding: 1.5rem;
    border-radius: 5px;
    position: absolute;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .cta .inner_card {
        width: 95%;
        top: -20rem;
        right: 0;
        left: 0;
        position: relative;

    }
}