@import url( 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');
:root {
    --bgBlue: #F2FAFC;
    --defaultBlue: #023E8A;
}
a,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #fffdfd;
    overflow-x: hidden !important;
}

body,
html {
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

.ease {
    transition: all 0.5s ease !important;
}

.carousel-item {
    padding: 2rem;
}

.textIsGray {
    color: rgba(32, 32, 32, 0.7);
}

input,
textarea {
    outline: none;
    border: none;
    background-color: #F8FAFD;
    padding: 1rem;
    width: 100%;
    border-radius: 30px;
    color: #20202080;
}

.hero {
    background-color: var(--bgBlue);
    min-height: 100vh;
}

.sectionText {
    font-size: 0.9rem;
}

.sectionText--small {
    font-size: 0.8rem;
}

.sectionText--mid {
    font-size: 1rem;
}

.sectionHead {
    font-size: 1.5rem;
}

.sectionHead--big {
    font-size: 2.3rem;
}

.sectionHeight {
    min-height: 80vh;
}

.sectionHeight--mid {
    min-height: 90vh;
}

.sectionHeight--short {
    min-height: 50vh;
}

.fullHeight {
    min-height: 100vh;
}

.nav.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 #eae1e17a;
}

.nav__mobile {
    display: none;
    position: relative;
    background-color: #fff;
    padding: 1rem;
    min-height: 50px;
    transition: all 0.4s ease;
}

.nav__mobileMenu {
    visibility: hidden;
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: #fff;
    min-height: 100vh;
    min-width: 100%;
    transition: all 0.3s ease;
    transform: scale(0);
}

.nav__mobileMenu.active {
    transform: scale(1);
    visibility: visible;
}

.menuIcon {
    position: relative;
    right: 20px;
}

.menuIcon p {
    background-color: var(--defaultBlue);
    width: 25px;
    border-radius: 20px;
    padding: 0.12rem;
    transition: all 0.15s ease-in;
    position: relative;
    margin-bottom: 5px !important;
}
.menuIcon p:nth-child(2) {
    width: 50%;
}

.close {
    font-size: 30px;
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.nav {
    position: absolute;
    padding: 1.5rem 0;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 999;
}

.navLinkHolder {
    width: 60%;
}

.textIsOrange {
    color: #FFCC3E;
}

.nav a {
    color: #202020;
}

footer {
    background-color: #202020;
    min-height: 60vh;
    padding: 1rem;
}

footer .logo img {
    width: 15rem;
    object-fit: contain;
}

.spaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alignOnly {
    display: flex;
    align-items: center;
}

.vAlign {
    text-align: center;
}

.borderRight{
     border-right: 2px solid #fff;
}

ul li {
    list-style: none;
}

ul {
    padding-left: 0;
}

.textIsWhite {
    color: #ffff;
}

.rAlign {
    text-align: right;
}

.lAlign {
    text-align: left;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textIsBlue {
    color: #023E8A;
}

.textIsBold {
    font-weight: bold;
}

.defaultBtn {
    background: var(--defaultBlue);
    padding: 1rem 1.5rem;
    text-align: center;
    color: #ffff !important;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 3px #0000001A;
}

.transparentBtn {
    background: transparent;
    border: 1px solid var(--defaultBlue);
    padding: 0.7rem 3rem;
    text-align: center;
    color: var(--defaultBlue);
}

.hero .textHolder {
    padding: 1rem;
}

.hero .textHolder p {
    line-height: 2em;
}

.mockup {
    background-color: var(--bgBlue);
}

.mockup .bgImg {
    position: absolute;
    right: 0;
}

.why .textHolder {
    width: 60%;
    margin: 0 auto;
}

.why__card {
    padding: 1rem;
}

.why__card .icon {
    box-shadow: 0 4px 10px 3px #C4C4C433;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: 0 auto;
}

.emailInput form {
    background-color: #E9E9E9B2;
    border-radius: 10px;
}

.emailInput input {
    border: none;
    outline: none;
    background: transparent;
    width: 90%;
}

.emailInput .defaultBtn {
    padding: 0.9rem 0;
    position: relative;
    right: -5%;
    width: 80%;
    border-radius: 10px;
}

.benefitsBg {
    background-image: url('/images/benfitsBg.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 70vh;
}

.bgBlue {
    background-image: url('/images/blueMap.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgGray {
    background-color: #FBFBFB;
}

.globe .textHolder {
    width: 80%;
}

.borderless .imgHolder {
    padding: 1.5rem;
}

.roadmap .carousel-indicators {
    top: -30px;
    justify-content: space-between;
    margin: 0 !important;
}

.reviews {
    overflow-x: hidden;
}

.reviews .textHolder {
    width: 70%;
}

.bgMap--light {
    background-image: url('/images/tokenBg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.roadmap .carousel-indicators li {
    width: 15%;
    background-color: lightgray;
}

.carousel-indicators li.active {
    background-color: #023E8A;
}

.token .imgHolder {
    width: 80%;
    margin: 0 auto;
}

.token .countdown {
    background-image: url('/images/mapLight.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.token .textHolder {
    background-color: #ECF8FD;
    padding: 3rem;
}

.tokenomics {
    background-image: url('/images/tokenBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot {
    width: 12px;
    height: 10px;
    border-radius: 50px;
}

.dot.blue {
    background-color: #03C5FF;
}

.dot.green {
    background-color: #67FA97;
}

.dot.orange {
    background-color: #FFCC3E;
}

.dot.pink {
    background-color: #FF3E72;
}

.dot.d_orange {
    background-color: #FF6B3E;
}

.dot.d_blue {
    background-color: #3E72FF;
}

.stat .progress {
    width: 90%;
    height: 10px;
    margin: 0 auto;
}

.stat .progress.blue {
    background: #B6ECFD;
}

.stat .progress.green {
    background-color: #CFF9E3;
}

.stat .progress.orange {
    background-color: #F5EECC;
}

.stat .progress.pink {
    background-color: #F5D4E1;
}

.stat .progress.d_orange {
    background-color: #F5D6CC;
}

.stat .progress.d_blue {
    background-color: #C4D7FD;
}

.stat .progress__thumb {
    border-radius: 50px;
}

.stat .progress__thumb.blue {
    background-color: #03C5FF;
    width: 20%;
}

.stat .progress__thumb.green {
    background-color: #67FA97;
    width: 60%;
}

.stat .progress__thumb.orange {
    background-color: #FFCC3E;
    width: 20%;
}

.stat .progress__thumb.pink {
    background-color: #FF3E72;
    width: 10%;
}

.stat .progress__thumb.d_orange {
    background-color: #FF6B3E;
    width: 20%;
}

.stat .progress__thumb.d_blue {
    background-color: #3E72FF;
    width: 25%;
}

.stat .textHolder {
    width: 50%;
    padding: 0 2rem;
}

.noPad {
    padding: 0;
}

.noMargin {
    margin: 0;
}
@media (max-width: 768px) {

    .mBlock {
        display: block;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .globe .img {
        width: 60%;
    }

    .token .countdown {
        padding: 1rem;
    }

    .token .textHolder {
        padding: 1.5rem;
    }

    .defaultBtn {
        padding: 1rem 2rem;
    }

    .nav {
        display: none;
    }

    .nav__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__mobileMenu {
        display: block;
        visibility: visible;
    }

    .sectionHeight--mid {
        min-height: 80vh;
    }

    .hero .sectionHeight--mid {
        min-height: 50vh;
    }

    .sectionHeight {
        min-height: 50vh;
    }

    .why .textHolder {
        width: 100%;
    }

    .stat .textHolder {
        width: 90%;
        margin-top: 1rem;
    }

    footer {
        min-height: 30vh;
    }

    footer .sectionHeight--short {
        min-height: 30vh;
    }

    .carousel-item {
        padding: 1rem;
    }

    .emailInput form {
        background-color: #ffff;
    }

    .emailInput input {
        background: #E9E9E9B2;
        border-radius: 0;
        width: 100%;
    }

    .emailInput .defaultBtn {
        margin-top: 1rem;
        text-align: center;
    }

    .borderRight{
        border: none;
    }

}
