@import url('./index.css');

.nav{
    position: relative;
}

.hero{
    background-image: url('../images/roadmapBg.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon--filled{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: .7rem;
    margin: 0 auto;
    background-color: #F2FAFC;
}

.token__card{
    padding: 2rem 1rem;
    box-shadow: 0px 0px 8px lightgray;
    min-height: 40vh;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

.roadmap{
       background-image: url('../images/tokenBg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem; 
}

.roadmap .imgHolder{
    width: 80%;
    margin: 0 auto;
}

.marginTop{
    margin-top: 4rem;
}

.cta .inner_card {
    background-image: url('../images/BG.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5rem;
    border-radius: 5px;
    position: absolute;
    margin: 0 auto;
}



.inner_card .textHolder{
    width: 90%;
}

.inner_card .imgHolder{
    width: 80%;
    margin: 0 auto;
}

.guide .dot{
    width: 20px;
    position: absolute;
    transform: translate(13rem, 0);
    height: 20px;
    background-color: #D1D1D1;
    transition: all 0.6s ease;
}

.guideStep{
    width: 100%;
}

.guideStep .textHolder{
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.owl-item{
    opacity: .5;
}

.owl-item.active.center {
    opacity: 1;
}

.owl-item.active.center .dot{
    background-color: var(--defaultBlue);
    box-shadow: 0px 0px 1px 6px #0000ff3d;
}

.owl-item.active.center h2{
    color: var(--defaultBlue);
    font-weight: bold;
}

.cta{
 position: relative;
}

.cta .inner_card{
    position: absolute;
    top: 5rem;
   right: -50%;
   left: -50%;
}

.tokenomics-hero-height{
    min-height:30vh
}

@media (max-width: 768px) {
    .marginTop {
        margin-top: 0;
    }

    .roadmap{
        padding: 1rem;
    }

    .inner_card .textHolder {
        width: 100%;
    }

   .cta .inner_card {
       width: 95%;
       top: -20rem;
       right: 0;
       left: 0;
       position: relative;

   }
   canvas{
       height:400;
   }

}   